.myBtn {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    // padding: .5em 2em;
    padding: 14px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    background-color: black;
    border-radius: 10px;
}

.myBtn:hover {
    background: rgb(84, 84, 84);
    border: 2px solid lightblue;
}

.myBtn:active {
    background: white;
}