@import '../utils/templates.scss';
.MyModal {
    position: fixed;
    // display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: black;
    opacity: 0.5;
    @extend %centerTemplate;
}

.MyModalContent {
    background-color: white;
}

.nothing {
    display: none;
}