@import '../utils/templates.scss';

.welcome__wrapper {
    width: 100%;
    height: 100vh;
    background: url('../assets/test9.png') center center;
    background-size: cover;
    @extend %centerTemplate;
    @extend %wrapperSizes;
}

.welcome__banner {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 40px;
    border-radius: 10px;
    opacity: 0.7;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        font-weight: bold;
    }
}

.banner__title {
    font-size: 44px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.banner__title:hover {
    // background-color: rgb(84, 84, 84);
    cursor: default;
}

.banner__users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    .banner__item {
        // background-color: #fd86c3;
        background-color: white;
        margin: 5px;
        color: black;
        padding: 10px;
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    .banner__item:hover {
        background-color: rgb(84, 84, 84);
        cursor: default;
    }
}

@media screen and (max-width: 992px) {
    .welcome__banner {
        overflow: hidden;
    }
    .banner__users {
        flex-direction: column;
        display: none;
    }
    .welcome__banner {
        p {
            display: none;
        }
    }
}